header {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.navMenu {
  display: flex;
  align-items: center;
  padding: 0;
}

.navMenu * {
  padding: 0 5px;
  border-left: solid #000 1px;
}
